<section class="container">
  <h3>{{technique_name}}</h3>
  <h4>{{description}}</h4>
  <h4>{{id}}</h4>
  <div id="tech-id" data-tech-id={{id}}></div>
  <div class="col-8">
        <textarea class="comment-textarea" placeholder="Record your thoughts about this meditation"></textarea>
        </div>
        <button class="no-button" id="save-button">Save Meditation</button>
  <script src="/js/technique.js"></script>
  </section>
